  h2{
    text-align: center;
  }
.arti-btn {
 position: fixed;
  bottom: 700px;
  right: 50px;
  color: black;
  background: none;
  border: none;
  font-size: 40px;
  width: 60px;
  height: 60px;
  cursor: pointer;/*el işaretine (pointer) dönüşmesini sağlar.*/
}
.uc-nokta {
 position: fixed;
  bottom: 700px;
  right: 0px;
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.altmenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f7f7;
  border-top: 1px solid #f2eeee;
  padding: 10px 0;
}

.altmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;           /* Yan yana yapmak için */
  justify-content: space-around;  /* Eşit aralık bırak */
  align-items: center;
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  position: relative;  /* alt çizgi için gerekli */
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border-bottom: 2px solid transparent; /* başlangıçta çizgi görünmez */
  transition: border-color 0.3s ease;
}

.altmenu ul li a:hover {
  border-bottom-color: black; /* hover olunca siyah çizgi görünür */
}
