body {
  margin: 0;
  padding: 20px;
  font-family: "Segoe UI", Roboto, sans-serif;
  background: #f7f6f6;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.alarm-container {
  background: white;
  padding: 25px;
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: 90vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.time-wheel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.time-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

.active-input {
  background: transparent;
  border: none;
  color: #3d4b60;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  outline: none;
}

.active-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.faded {
  color: #ccc;
  font-size: 1.2rem;
  cursor: pointer;
}

.colon {
  font-size: 2rem;
  margin: 0 5px;
  color: #555;
}

/* Gün Seçici */
.days {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.day {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #eee;
  color: #333;
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.day.selected {
  background: #3d4b60;
  color: white;
}

/* Input Group */
.input-group label {
  font-size: 12px;
  color: #888;
}

.input-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  font-size: 15px;
  outline: none;
}

/* Ayarlar */
.setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.setting-item a {
  color: #333;
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
}

.divider {
  height: 1px;
  background: #f0f0f0;
}

.toggle-btn {
  width: 38px;
  height: 20px;
  background: #ccc;
  border-radius: 20px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  transition: 0.3s;
}

.toggle-btn::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input:checked+.toggle-btn {
  background: #3d4b60;
}

input:checked+.toggle-btn::after {
  transform: translateX(18px);
}

/* Butonlar */
.buttons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 10px;
}

.cancel-btn,
.save-btn {
  background: none;
  border: none;
  color:  #3d4b60;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 25px;
  transition: 0.3s;
}

.cancel-btn:hover,
.save-btn:hover {
  background-color: #d3d3d3;
  border-radius: 42px;
  color: black;
}
