 body{
        font-family: Arial,sans-serif;
        text-align: center;
        margin-top: 100px;
        font-size: 48px;
          background-color:rgb(245, 246, 246);
    }
    .altmenu {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color:rgb(245, 246, 246);
  border-top: 1px solid #ffffff;
  padding: 10px 0;
}

.altmenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;           /* Yan yana yapmak için */
  justify-content: space-around;  /* Eşit aralık bırak */
  align-items: center;
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  position: relative;  /* alt çizgi için gerekli */
}

.altmenu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  padding: 5px 10px;
  border-bottom: 2px solid transparent; /* başlangıçta çizgi görünmez */
  transition: border-color 0.3s ease;
}

.altmenu ul li a:hover {
  border-bottom-color: black; /* hover olunca siyah çizgi görünür */
}
.uc-nokta {
 position: fixed;
  bottom: 740px;
  right: 0px;
  color: black;
  background: none;
  border: none;
  font-size: 30px;
  width: 90px;
  height: 60px;
  cursor: pointer;
}
.sayac {
  font-size: 48px;
  font-weight: bold;
  margin-top: 160px;
  color: #333;
}

.kutu {
  gap: 10px;
  margin-top: 400px;
}

.kutu button {
  padding: 15px 50px;
  font-size: 18px;
  border:none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.4s;
}

.tur {
  background-color: #f4f1f1;
  color: #333;
     margin-right: 45px;
}

.baslat {
  background-color: #007bff;
  color: white;
}

.kutu button:hover {
  transform: scale(1.05);
}
